.quiqqer-simple-checkout-data-shipping .quiqqer-order-step-shipping header {
    display: none;
}

.quiqqer-simple-checkout-data-shipping .quiqqer-order-step-shipping-list .quiqqer-order-step-shipping-list-entry {
    background-color: var(--_detailEntryBg);
    margin-bottom: var(--_detailEntrySpacing);
    border-radius: var(--_detailEntryBorder);
}

.quiqqer-simple-checkout-data-shipping .quiqqer-order-step-shipping-list .quiqqer-order-step-shipping-list-entry:hover,
.quiqqer-simple-checkout-data-shipping .quiqqer-order-step-shipping-list .quiqqer-order-step-shipping-list-entry.selected {
    background-color: var(--_detailEntryBg) !important;
    outline: 1px solid currentColor;
}