.quiqqer-simple-checkout-billing label {
    display: block;
    cursor: pointer;
}

.quiqqer-simple-checkout-billing__entry {
    padding: var(--_detailsEntryInnerPadding);
    background-color: var(--_detailsEntryBg);
    margin-bottom: var(--_detailsEntrySpacing);
    border-radius: var(--_detailsEntryBorder);
}

.quiqqer-simple-checkout-billing__entry input {
    vertical-align: middle;
}

.quiqqer-simple-checkout-billing-diffContainer {
    overflow: hidden;
}

.quiqqer-simple-checkout-billing-diffContainer > .inner {
    margin-top: 1rem;
}

.quiqqer-simple-checkout-billing-diffContainer label {
    margin-bottom: 1rem;
}

.quiqqer-simple-checkout-billing label select,
.quiqqer-simple-checkout-billing label input[type="text"],
.quiqqer-simple-checkout-billing label input[type="tel"],
.quiqqer-simple-checkout-billing label input[type="fax"] {
    width: 100%;
}


.quiqqer-simple-checkout-billing label .qui-select {
    float: initial;
    width: 100%;
}

.quiqqer-simple-checkout-billing-diffContainer .quiqqer-order-customerData-edit-firstname,
.quiqqer-simple-checkout-billing-diffContainer .quiqqer-order-customerData-edit-lastname,
.quiqqer-simple-checkout-billing-diffContainer .quiqqer-order-customerData-edit-zip,
.quiqqer-simple-checkout-billing-diffContainer .quiqqer-order-customerData-edit-city {
    float: left;
    width: calc(50% - 10px) !important;
}

.quiqqer-simple-checkout-billing .quiqqer-order-customerData-edit-lastname,
.quiqqer-simple-checkout-billing .quiqqer-order-customerData-edit-city {
    clear: initial !important;
    margin-left: 20px;
}

.quiqqer-simple-checkout-billing .quiqqer-order-customerData-edit-street_no [name="billing_street"] {
    float: left;
    margin-right: 10px;
    width: calc(100% - 130px) !important;
}

.quiqqer-simple-checkout-billing .quiqqer-order-customerData-edit-street_no [name="billing_street_number"] {
    width: 120px !important;
}

.quiqqer-simple-checkout-billing__entry:hover,
.quiqqer-simple-checkout-billing__entry.selected {
    background-color: var(--_detailsEntryBg);
    outline: 1px solid currentColor;
}