.quiqqer-simple-checkout-delivery label {
    clear: both;
    display: block;
    margin-bottom: 1rem;
    width: 100%;
}

.quiqqer-simple-checkout-delivery label select,
.quiqqer-simple-checkout-delivery label input[type="text"],
.quiqqer-simple-checkout-delivery label input[type="tel"],
.quiqqer-simple-checkout-delivery label input[type="fax"],
.quiqqer-simple-checkout-delivery label input[type="email"] {
    width: 100%;
}


.quiqqer-simple-checkout-delivery label .qui-select {
    float: initial;
    width: 100%;
}

.quiqqer-simple-checkout-delivery label > span {
    display: block;
    width: 100%;
}

.quiqqer-simple-checkout-delivery .quiqqer-order-customerData-edit-firstname,
.quiqqer-simple-checkout-delivery .quiqqer-order-customerData-edit-lastname,
.quiqqer-simple-checkout-delivery .quiqqer-order-customerData-edit-zip,
.quiqqer-simple-checkout-delivery .quiqqer-order-customerData-edit-city {
    float: left;
    width: calc(50% - 10px) !important;
}

.quiqqer-simple-checkout-delivery .quiqqer-order-customerData-edit-lastname,
.quiqqer-simple-checkout-delivery .quiqqer-order-customerData-edit-city {
    clear: initial !important;
    margin-left: 20px;
}

.quiqqer-simple-checkout-delivery .quiqqer-order-customerData-edit-street_no [name="street"] {
    float: left;
    margin-right: 10px;
    width: calc(100% - 130px) !important;
}

.quiqqer-simple-checkout-delivery .quiqqer-order-customerData-edit-street_no [name="street_number"] {
    width: 120px !important;
}