.quiqqer-simple-checkout-payment .quiqqer-order-step-payments header {
    display: none;
}

.quiqqer-simple-checkout-data-payment .quiqqer-order-step-payments-list .quiqqer-order-step-payments-list-entry {
    background-color: var(--_detailsEntryBg);
    margin-bottom: var(--_detailsEntrySpacing);
    border-radius: var(--_detailsEntryBorder);
    border-bottom: none;
}

.quiqqer-simple-checkout-data-payment .quiqqer-order-step-payments-list .quiqqer-order-step-payments-list-entry:hover,
.quiqqer-simple-checkout-data-payment .quiqqer-order-step-payments-list .quiqqer-order-step-payments-list-entry.selected {
    background-color: var(--_detailsEntryBg) !important;
    outline: 1px solid currentColor;
}

.quiqqer-order-step-payments-description {
    margin-bottom: 1rem;
}

/* workaround, it should be fixed in cologne */
.quiqqer-simple-checkout-data-payment .quiqqer-order-step-payments-list-entry-select {
    flex-grow: 1 !important;
}