parameters:
	ignoreErrors:
		-
			message: "#^Call to static method getInstance\\(\\) on an unknown class QUI\\\\ERP\\\\Shipping\\\\Shipping\\.$#"
			count: 1
			path: ajax/frontend/update.php

		-
			message: "#^Instantiated class QUI\\\\ERP\\\\Shipping\\\\Order\\\\Shipping not found\\.$#"
			count: 1
			path: src/QUI/ERP/Order/SimpleCheckout/Steps/CheckoutShipping.php
