.quiqqer-simple-checkout {
    --_gap: var(--gap, 3rem);
    --_sticky-positionTop: var(--sticky-positionTop, 1.5rem);
    --_sectionSpacing: var(--sectionSpacing, 3rem);
    --_sectionPadding: var(--sectionPadding, 2rem);
    --_sectionBgColor: var(--sectionBgColor, #f8f8f8);

    --_order-listEntry-padding: var(--order-listEntry-padding, 1rem);
    --_order-listEntry-bg: var(--order-listEntry-bg, #ffffff);
    --_order-listEntry-bg--hover: var(--order-listEntry-bg--hover, #ffffff);
    --_order-listEntry-radius: var(--order-listEntry-radius, 0.25rem);
    --_order-listEntry-gap: var(--order-listEntry-gap, 0.25rem 2rem);
    --_order-listEntry-spacing: var(--order-listEntry-spacing, 0.5rem);

    --_bg: var(--bg, #fff);
    --_imgWidth: var(--imgWidth, 80px);
}

@media screen and (max-width: 767px) {
    .quiqqer-simple-checkout {
        --_gap: var(--gap, 1.5rem);
        --_sectionSpacing: var(--sectionSpacing, 1.5rem);
        --_sectionPadding: var(--sectionPadding, 1rem);
    }
}

.quiqqer-simple-checkout-require {
    border: 1px solid red;
}

/*******************************/
/* order details (only mobile) */
/*******************************/
@media screen and (min-width: 768px) {
    .quiqqer-simple-checkout-orderDetails {
        display: none;
    }
}

/**********************/
/* checkout container */
/**********************/
.quiqqer-simple-checkout-container {
    gap: var(--_gap);
    display: flex;
    flex-wrap: wrap;
}

.quiqqer-simple-checkout-details,
.quiqqer-simple-checkout-basket {
    flex: 1;
}

@media screen and (min-width: 500px) {
    .quiqqer-simple-checkout-details {
        flex-basis: 400px;
    }

    .quiqqer-simple-checkout-basket {
        flex-basis: 300px;
    }
}

/* heading */
.simpleCheckoutCard-subheader {
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight: 500;

    margin-bottom: 2rem;
}

.simpleCheckoutCard-subheader--orderCard {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1em;
}

/* section */
.simpleCheckout-details-section {
    margin-bottom: var(--_sectionSpacing);
    padding: var(--_sectionPadding);

    background-color: #f8f8f8;
    position: relative;
}

.simpleCheckout-details-section-loader {
    font-size: 24px;
    line-height: 50px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 50px;
}

.quiqqer-simple-checkout-data-or {
    text-align: center;
    margin: 3rem 0;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.quiqqer-simple-checkout-data-or:before,
.quiqqer-simple-checkout-data-or:after {
    content: "";
    display: block;
    flex-grow: 1;
    height: 1px;
    background-color: currentColor;
}

.quiqqer-simple-checkout .quiqqer-order-ordering-timeline {
    display: none !important;
}

/*****************/
/* right: basket */
/*****************/
.quiqqer-simple-checkout-basket {
    position: sticky;
    top: var(--_sticky-positionTop);
    align-self: start;
}

.quiqqer-simple-checkout-basket__inner {
    background: var(--_sectionBgColor);
    padding: var(--_sectionPadding);
}

.quiqqer-simple-checkout-basket__pay {
    margin-top: 1rem;
}

.quiqqer-simple-checkout-basket__pay > :where(.btn) {
    width: 100%;
}

.quiqqer-simple-checkout-basket__pay > :where(.quiqqer-order-step-checkout-notice) {
    margin-bottom: 1rem;
    background: var(--_sectionBgColor);
    padding: var(--_sectionPadding);
}

.quiqqer-simple-checkout-basket__pay > :where(.quiqqer-order-step-checkout-notice) label {
    display: flex;
    cursor: pointer;
    align-items: baseline;
    border: none;
    padding: 0;
}

.quiqqer-simple-checkout-basket__pay :where(.quiqqer-order-step-checkout-notice label) {
    background: transparent;
    border: none;
}

:where(.quiqqer-simple-checkout-basket__link) {
    margin-top: 0.75rem;
    display: inline-block;
    float: right;
}

/**************************/
/* Scroll to payments btn */
/**************************/
.quiqqer-simple-checkout__scrollToPaymentContainer {
    margin-bottom: var(--_sectionSpacing);
    width: 100%;
}

.quiqqer-simple-checkout__scrollToPaymentBtn {
    display: block;
    width: 100%;
}

/******************************************/
/* Order details for header (only mobile) */
/******************************************/
.quiqqer-simple-checkout-orderDetails {
    background-color: var(--_sectionBgColor);
    top: 0;
    padding: var(--_sectionPadding);
    margin-bottom: var(--_sectionSpacing);
    z-index: 1;
}

/****************/
/* empty basket */
/****************/
.quiqqer-simple-checkout-basket__emptyMessage {
    text-align: center;
}

@media screen and (min-width: 768px) {
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/** log in for nobody
 ============================================= */

[data-nobody-log-in="1"] [name="order"] .quiqqer-order-ordering-nobody {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    max-width: 1200px;
}

[data-nobody-log-in="1"] [name="order"] .quiqqer-order-ordering-nobody > div {
    text-align: center;
    width: 100%;
}

[data-nobody-log-in="1"] .quiqqer-order-ordering-timeline {
    display: none;
}

/**************/
/* list entry */
/**************/
@media screen and (min-width: 768px) {
    .quiqqer-simple-checkout .quiqqer-order-step-payments-list-entry,
    .quiqqer-simple-checkout .quiqqer-order-step-shipping-list-entry {
        grid-template-columns: auto max(25%, 150px) 1fr;
        grid-template-areas: 'select icon text' '. . price';
    }
}

/*******/
/* sum */
/*******/
:where(.quiqqer-simple-checkout) .quiqqer-order-control-order-total {
    background-color: #f8f8f8;
    margin-top: 0.5rem;
    padding: 1rem;
}

:where(.quiqqer-simple-checkout) .quiqqer-order-control-order-information-orderData-table {
    border: none;
    float: none;
    text-align: right;
    margin-bottom: 0;
    font-size: 1rem;
}

:where(.quiqqer-simple-checkout) .quiqqer-order-control-order-information-orderData-table tr {
    border: none;
}

:where(.quiqqer-simple-checkout) .quiqqer-order-control-order-information-orderData-table td {
    padding: 2px;
    border: none;
}

:where(.quiqqer-simple-checkout) .articles-sum-row-sum,
:where(.quiqqer-simple-checkout) .quiqqer-order-control-order-information-orderData-sum-title,
:where(.quiqqer-simple-checkout) .quiqqer-order-control-order-information-orderData-value {
    font-weight: bold;
    font-size: 1.125rem;
}

/***************/
/* Finish step */
/***************/
.quiqqer-simple-checkout .quiqqer-order-profile-orders-order-articles-article-articleNo {
    font-size: 0.875rem;
    opacity: 0.5;
}

.quiqqer-simple-checkout .quiqqer-order-step-finish .quiqqer-order-control-order {
    display: flow-root;
    margin-top: 2rem;
}

.quiqqer-simple-checkout .quiqqer-order-control-order-information,
.quiqqer-simple-checkout .quiqqer-order-control-order-articles {
    padding: 1rem;
    width: 100%;
    background: #f8f8f8;
}

.quiqqer-simple-checkout .quiqqer-order-control-order-articles article {
    margin-bottom: 0.5rem;
    width: 100%;
    background: #fff;
    padding: 1rem;
    border-radius: 0.5rem;
}

.quiqqer-simple-checkout .quiqqer-order-profile-orders-order-articles-article-image {
    max-height: 120px;
    height: initial;
}

