.quiqqer-simple-checkout {
    --_gap: var(--gap, 3rem);
    --_detailEntryBorder: var(--detailEntryBorder, 0.5rem);
    --_detailEntryBg: var(--detailEntryBg, #fff);
    --_detailEntrySpacing: var(--detailEntrySpacing, 0.5rem);
    --_sectionSpacing: var(--sectionSpacing, 3rem);
    --_sectionPadding: var(--sectionPadding, 2rem);
}

@media screen and (max-width: 767px) {
    /**
    1. Because of position fixed of .quiqqer-simple-checkout-data-pay on mobile.
       This value is override by JavaScript
     */
    .quiqqer-simple-checkout {
        --_gap: var(--gap, 1.5rem);
        --_sectionSpacing: var(--sectionSpacing, 1.5rem);
        --_sectionPadding: var(--sectionPadding, 1rem);
        margin-bottom: 5rem; /* 1 */
    }
}

/*******************************/
/* order details (only mobile) */
/*******************************/
@media screen and (min-width: 768px) {
    .quiqqer-simple-checkout-orderDetails {
        display: none;
    }
}

/**********************/
/* checkout container */
/**********************/
.quiqqer-simple-checkout-container {
    gap: var(--_gap);
    display: flex;
    flex-wrap: wrap;
}

.quiqqer-simple-checkout-details,
.quiqqer-simple-checkout-basket {
    flex: 1;
}

@media screen and (min-width: 500px) {
    .quiqqer-simple-checkout-details {
        flex-basis: 400px;
    }

    .quiqqer-simple-checkout-basket {
        min-width: 500px;
    }
}

/* heading */
.simpleCheckoutCard-subheader {
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight: 500;

    margin-bottom: 2rem;
}

.simpleCheckoutCard-subheader--orderCard {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1em;
}

/* section */
.simpleCheckout-detail-section {
    margin-bottom: var(--_sectionSpacing);
    padding: var(--_sectionPadding);

    background-color: #f8f8f8;
}

.simpleCheckout-detail-sectionn .simpleCheckoutCard-subheader {
    text-align: center;
    position: relative;
    background: #fff;
    display: inline-block;
    top: -2rem;
    padding-inline: 1em;
    margin-bottom: 0;
}

@media screen and (max-width: 767px) {
    .simpleCheckout-detail-sectionn .simpleCheckoutCard-subheader {
        transform: translateX(-50%);
        left: 50%;
    }
}

.quiqqer-simple-checkout-data-or {
    text-align: center;
    margin: 3rem 0;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.quiqqer-simple-checkout-data-or:before,
.quiqqer-simple-checkout-data-or:after {
    content: "";
    display: block;
    flex-grow: 1;
    height: 1px;
    background-color: currentColor;
}

@media screen and (max-width: 767px) {
    .quiqqer-simple-checkout-data-pay {
        position: fixed;
        left: 0;
        bottom: 0;
        z-index: 1;
        background: #fff;
        width: 100%;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        padding: 1rem;
    }
}

.quiqqer-simple-checkout-data-pay > .btn {
    width: 100%;
}

.quiqqer-simple-checkout-data-pay .quiqqer-order-step-checkout-notice {
    margin-bottom: 1rem;
}

.quiqqer-simple-checkout-data-pay .quiqqer-order-step-checkout-notice label {
    background: transparent;
    border: none;
}

.quiqqer-simple-checkout .quiqqer-order-ordering-timeline {
    display: none !important;
}

/*****************/
/* right: basket */
/*****************/
.quiqqer-simple-checkout-basket {
    --_bg: var(--bg, #f8f8f8);
    background: var(--_bg);
    padding: var(--_sectionPadding);
    align-self: start;
    position: sticky;
    top: 1.5rem;
}

/******************************************/
/* Order details for header (only mobile) */
/******************************************/
.quiqqer-simple-checkout-orderDetails {
    background-color: #f8f8f8;
    top: 0;
    padding: var(--_sectionPadding);
    margin-bottom: var(--_sectionSpacing);
    z-index: 1;
}

/****************/
/* empty basket */
/****************/
.quiqqer-simple-checkout-basket__emptyMessage {
    text-align: center;
}

@media screen and (min-width: 768px) {
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/** log in for nobody
 ============================================= */

[data-nobody-log-in="1"] [name="order"] .quiqqer-order-ordering-nobody {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    max-width: 1200px;
}

[data-nobody-log-in="1"] [name="order"] .quiqqer-order-ordering-nobody > div {
    text-align: center;
    width: 100%;
}

[data-nobody-log-in="1"] .quiqqer-order-ordering-timeline {
    display: none;
}