@media screen and (min-width: 768px) {
    .SimpleCheckoutWindow .qui-window-popup-content,
    .SimpleCheckoutWindow .qui-window-popup-sheet-content {
        padding: 2rem;
    }
}

.SimpleCheckoutWindow .SimpleCheckoutWindow-btn-cancel {
    cursor: pointer;
    color: inherit;
    background: none;
    border: none;
    outline: none;
}

.SimpleCheckoutWindow .SimpleCheckoutWindow-btn-close {
    float: right !important;
}

.SimpleCheckoutWindow .buttons-multiple {
    display: flex;
    float: none !important;
    justify-content: space-between;
    height: auto !important;
    padding-inline: 1rem;
}

.SimpleCheckoutWindow .SimpleCheckoutWindow-btn-payToOrder {
    order: 1;
}

/* order process */
.SimpleCheckoutWindow .quiqqer-simple-checkout {
    --_sticky-positionTop: var(--sticky-positionTop, 0);
}